# API Gateway URLs

# Browser-side API URL (from client perspective)
# Используется fetch() вызовами из браузера
# nginx proxy на localhost:80
NEXT_PUBLIC_API_URL=http://localhost/api/v1


# Environment
NODE_ENV=development
NEXT_PUBLIC_DEBUG=false

# Next.js settings
NEXT_TELEMETRY_DISABLED=1
